.idea

ept_parser
digea_parser
output/*
!output/.gitkeep
log/*
!log/.gitkeep
bin/*
!bin/.gitkeep
!bin/standard_parser
!bin/download_tv_pack_2
!bin/tv_pack_parser_2
*.csv
tmp/*
!tmp/.gitkeep
.envrc
*.xml
vendor
